@charset "UTF-8";

#niki {
  /*color: #292929;*/
  background: #292929;
  height: 100%;
  width: 100%;
}

#niki .masthead {
  background: #292929;
  /*height: 60%;*/
  width: 100%;
  padding: 10% 0%; 
}

.masthead a {
  color: #fff;
}

#header {
  background: #292929;
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

#niki .name {
/*   color: #383838; */
  font-size: 5.2em;
  font-family: 'Dosis', sans-serif;
  margin-top: 20%;
  /*text-decoration: underline;*/
}

#niki .job {
  color: #fff;
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  padding-top: 1%;
}

#links a {
  visibility: visible;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #8b8b8b;
  /*#555f66;*/
  /*font-size: 2em;*/
}

#niki a:hover {
  color: #ddd;
  background-color: #292929;
  /*#629DD1;*/
}

#projects {
  background: #fff;
  width: 100%;
}

#niki .menu {
  /*margin-top: 25%;*/
  background-color: #292929
}

#niki .menu p {
  visibility: hidden;
}

#niki .item {
  color: #8b8b8b;
}

#niki h2 {
  color: #fff;
  padding: 10% 0% 0% 10%;
  font-family: 'Titillium Web', sans-serif;
  font-size: 10em;
  margin-bottom: 0px;
}

#niki h4 {
  color: #fff;
  padding: 0% 10%;
  font-size: 3em;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  margin-top: 0px;
}

#niki .grid p {
  padding: 0% 10%;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  font-size: 1.2em;
}

.test-class {
  padding: 10%;
}

#project1info {
  visibility: hidden;
}

#projects {
  background-color: #FFF;
}
